  <h1>Create a Team and Heroes!</h1>
    
    
    
    <form action="/teams" method="POST">
      
      <input type="text" name="team[name]"><br><br>
       
      Team Motto:<input type="text"  name="team[motto]">
      
      <h1>Hero 1</h1>
     
      Hero Name:<input type="text" id="member1_name" name="team[members][][name]"><br><br>
     
      Hero Power:<input type="text" id="member1_power" name="team[members][][power]"><br><br>
 
      Hero Biography:<input type="text" id="member1_bio" name="team[members][][bio]">
      
       <h1>Hero 2</h1>
      
      Hero Name:<input type="text" id="member2_name" name="team[members][][name]"><br><br>
     
      Hero Power:<input type="text" id="member2_power" name="team[members][][power]"><br><br>
    
      Hero Biography:<input type="text" id="member2_bio" name="team[members][][bio]">
      
       <h1>Hero 3</h1>
      
       Hero Name:<input type="text" id="member3_name" name="team[members][][name]"><br><br>
      
       Hero Power:<input type="text" id="member3_power" name="team[members][][power]"><br><br>
      
      Hero Biography:<input type="text" id="member3_bio" name="team[members][][bio]"><br><br><br><br>
      <input type="submit" value="submit">
    
</form>
 